<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.ai_work.mapper.ChatMapper">


    <select id="getInfo" resultType="com.ai.ai_work.entity.dto.chat.DialogDto">
        select uuid, title from uuid where userId = #{userId}
    </select>
</mapper>
