<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.ai_work.mapper.ChatMapper">
    <insert id="addDialog">
        insert into uuid (userId, uuid, title)
        values (#{userId}, #{uuid}, #{title})
    </insert>
    <update id="updateDialog">
        update uuid
        <set>
            title = #{title}
        </set>
        where userId = #{userId} and uuid = #{uuid};
    </update>
    <delete id="delete">
        delete from uuid where uuid = #{uuid} and userId = #{userId};
    </delete>


    <select id="getInfo" resultType="com.ai.ai_work.entity.vo.chat.DialogVo">
        select uuid, title from uuid where userId = #{userId}
        group by uuid
        order by uuid

    </select>
</mapper>
